.swiper-button-prev::after{
    background-color: white;
    padding: 20px 30px;
    scale: 50%;
    border-radius: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    box-shadow: 2px 2px 6px black;
}

.swiper-button-next::after{
    background-color: white;
    padding: 20px 30px;
    scale: 50%;
    border-radius: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    box-shadow: 2px 2px 6px black;
}
.swiper-button-disabled{

}